<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>CodePen - Bootstrap 4 Sidebar Menu To Top</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    @await Html.PartialAsync("NavMenuPartial")
        <main class="content-wrapper">
            <div class="container-fluid">
                <div>
                    @RenderBody()
                </div>
            </div>
        </main>
    @await Html.PartialAsync("FooterPartial")

        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js'></script>
        <script src="~/js/JavaScript.js"></script>

</body>
</html>
