@model Coach

<form class="form-sample" asp-area="Admin" asp-controller="CoachesEdit" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="col-12 mt-4 grid-margin">
        <div class="card">
            <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Имя</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="Name" />
                                    <span asp-validation-for="Name"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Дата рождения</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" placeholder="ДД/ММ/ГГГГ" asp-for="Burthday" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Фамилия</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="SurName" />
                                    <span asp-validation-for="SurName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Образование</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="Education" />
                                    <span asp-validation-for="Education"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Отчество</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="MiddleName" />
                                    <span asp-validation-for="MiddleName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Контактный телефон</label>
                                <div class="col-sm-9">
                                    <input type="tel" class="form-control" asp-for="Phone" />
                                    <span asp-validation-for="Phone"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Добавить</button>
            </div>
        </div>
    </div>
</form>
   
    

    @*<form asp-area="Admin" asp-controller="CoachesEdit" asp-action="SaveGroups" method="post" enctype="multipart/form-data">
            <div>
                <label for="id">Выберите модель:</label>
                <input type="hidden" asp-for="Id" name="idCoach" />
                <select name="id">
                    @for (int i = 0; i < @ViewBag.Groups.Count; i++)
                    {
            <option value="@ViewBag.Groups[i].Id" selected>@ViewBag.Groups[i].GroupNumber</option>}
                </select>
            </div>
            <input type="submit" value="Сохранить" />
    </form>*@