@model Coach
@{
    string strTitle = "Добавить запись";
    ViewBag.Title = strTitle;
}

<div>
    <h2>@strTitle</h2>
    <div>
        <form asp-area="Admin" asp-controller="CoachesEdit" asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />

            <div asp-validation-summary="All"></div>
            <div class="div-box">
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="div-box">
                <label asp-for="SurName"></label>
                <input asp-for="SurName" />
                <span asp-validation-for="SurName"></span>
            </div>
            <div class="div-box">
                <label asp-for="MiddleName"></label>
                <textarea asp-for="MiddleName"></textarea>
                <span asp-validation-for="MiddleName"></span>
            </div>
            <div>
                <select asp-for="Groups" asp-items="@(new SelectList(@ViewBag.Groups, "Id"))">
                </select>
            </div>
            <input type="submit" value="Сохранить" />
        </form>
        
            
            @*@Html.DisplayNameFor(model => model.Groups.)*@
        
    </div>
</div>