@model IQueryable<Student>


@{ string strTitle = "Главная панели администратора";
                ViewBag.Title = strTitle; }

<div class="mt-4 col-md-12">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title mb-0">Total Revenue</h4>
                        <p class="font-weight-semibold mb-0">+1.37%</p>
                    </div>
                    <h3 class="font-weight-medium mb-4">184.42K</h3>
                </div>
                <canvas class="mt-n4" height="90" id="total-revenue"></canvas>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title mb-0">Transaction</h4>
                        <p class="font-weight-semibold mb-0">-2.87%</p>
                    </div>
                    <h3 class="font-weight-medium">147.7K</h3>
                </div>
                <canvas class="mt-n3" height="90" id="total-transaction"></canvas>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title mb-0">Transaction</h4>
                        <p class="font-weight-semibold mb-0">-2.87%</p>
                    </div>
                    <h3 class="font-weight-medium">147.7K</h3>
                </div>
                <canvas class="mt-n3" height="90" id="total-transaction"></canvas>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title mb-0">Transaction</h4>
                        <p class="font-weight-semibold mb-0">-2.87%</p>
                    </div>
                    <h3 class="font-weight-medium">147.7K</h3>
                </div>
                <canvas class="mt-n3" height="90" id="total-transaction"></canvas>
            </div>
        </div>
    </div>
</div>


