@model IQueryable<Student>


@{ string strTitle = "Главная панели администратора";
                ViewBag.Title = strTitle; }

<h2>@strTitle</h2>
<h1 class="mt-4">Главная</h1>
<h3>Наши ученики</h3>
<div class="card mb-4">
    <div class="card-body">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            @foreach (var p in Model)
            {
            <div>
                @p.FullName
                @p.Burthday
                @p.Groups
            </div>      }
        </form>
    </div>
</div>


